<div class="container mt-5">
    <button class="btn btn-danger mb-4" (click)="goBackToDashboard()">Back to Dashboard</button>

    <!-- User Profile Information -->
    <div class="card ">
        <div class="card-header">
            <h4>User Profile</h4>
        </div>
        <div class="card-body">
            <p><strong>User ID:</strong> {{ userId }}</p>
            <p><strong>Username:</strong> {{ username }}</p>
        </div>
    </div>

    <!-- Books Lent by User -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Books Lent</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let book of lentBooks">
                    {{ book.name }} by {{ book.author }}
                </li>
            </ul>
        </div>
    </div>

    <!-- Books Borrowed by the User -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Books Borrowed</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let book of borrowedBooks">
                    {{ book.name }} by {{ book.author }}
                </li>
            </ul>
        </div>
    </div>
</div>