<div class="modal-header">
    <h4 class="modal-title">{{ book?.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Author:</strong> {{ book?.author }}</p>
    <p><strong>Description:</strong> {{ book?.description }}</p>
    <p><strong>Ratings:</strong> {{ book?.rating }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Close</button>
</div>